{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.scss", "*.*.scss", "*.css", "*.*.css", "*.graphql"],
      "options": {
        "printWidth": 120,
        "singleQuote": false,
        "trailingComma": "es5"
      }
    }
  ]
}
