.invoiceTotal {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        color: var(--main-text);
        margin: 0;
        font-size: var(--small-font);
        font-weight: bold;
        text-align: right;
    }

    h1 {
        color: var(--main-color);
        margin: 0;
        font-size: 40px;
    }
}
