.App {
  padding: 80px;

  width: 1224px;
  min-height: 1484px;

  background-color: white;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

.primary {
  color: var(--main-color);
}

.App-header h1 {
  font-size: 65px;
  line-height: 20px;
  margin: 0;
}
.App-header p {
  font-size: var(--base-font);
  margin-top: 60px;
  color: var(--main-text);
  margin-bottom: 0;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top-align {
  align-items: flex-start;
}

[data-absolute="top"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
