:root {
  --main-color: #3f54b8;
  --main-text: #4a5f6b;
  --base-font: 20px;
  --small-font: 15px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  padding: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
